<div class="registerArea">
<p>Search by Keyword(s)</p>
<form method="POST" action="">
<input type="text" placeholder="Keyword">
<input type="submit" value="Search">
</form>
</div><!-- /.registerArea -->
<div class="registerArea">
<p>Scan Barcode</p>
<form>
<div class="cameraButton">
<p>Barcode</p>
<input type="file" name="capture" accept="image/*" capture="camera">
</div>
</form>
</div><!-- /.registerArea -->
