<h2>殿堂入り</h2>
<ul class="bookShelf">
<li>
<ul class="bookLine">
<li class="itemArea">
<img src="/pic/pic1.jpg" width="150px" height="150px">
<img class="badge" src="/img/gold.png" width="128px" height="128px">
<p>YYYY-MM-DD</p>
</li>
<li class="itemArea">
<img src="/pic/pic2.jpg" width="150px" height="150px">
<img class="badge" src="/img/gold.png" width="128px" height="128px">
<p>YYYY-MM-DD</p>
</li>
<li class="itemArea">
<img src="/pic/pic3.jpg" width="150px" height="150px">
<img class="badge" src="/img/gold.png" width="128px" height="128px">
<p>YYYY-MM-DD</p>
</li>
</ul>
</li>
</ul>
