<!doctype html>
<html lang="ja">
<head>
<title><?php if (isset($title)) : echo $this->escape($title) . ' - '; endif; ?>yondel</title>
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="css/yondel.css">
</head>
<body>
<header>
<h1><a href="<?php echo $base_url; ?>">yondel</a></h1>
</header>
<section>
<?php echo $_content; ?>
</section>
<footer>
<p>&copy;<?php echo date('Y') ?> yondel, All rights reserved.</p>
</footer>
<script src="js/third_party/jquery-2.1.1.min.js"></script>
<script src="js/yondel.js"></script>
</body>
</html>
