<!doctype html>
<html lang="ja">
<head>
<title><?php if (isset($title)) : echo $this->escape($title) . ' - '; endif; ?>yondel</title>
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="<?php echo $base_url; ?>/css/yondel.css">
</head>
<body>
<header>
<h1>yondel</h1>
</header>
<div id="nav">
<p>
<?php
if ($session->isAuthenticated()) {
?>
    <a href="<?php echo $base_url; ?>/">ホーム</a>
    <a href="<?php echo $base_url; ?>/account">アカウント</a>
<?php
} else {
    header("Location: $base_url/account/signin");
}
?>
</p>
</div>
<section>
<?php echo $_content; ?>
</section>
<footer>
<p>&copy;<?php echo date('Y') ?> yondel, All rights reserved.</p>
</footer>
<script src="<?php echo $base_url; ?>/js/third_party/jquery-2.1.1.min.js"></script>
<script src="<?php echo $base_url; ?>/js/yondel.js"></script>
</body>
</html>
