<h2>本追加</h2>
<div class="registerArea">
<p>Search by Keywords</p>
<form method="POST" action="">
<input type="text" placeholder="Keyword">
<input type="submit" value="Search">
</form>
</div>
<div class="registerArea">
<p>Scan by Barcode Reader</p>
<form>
<div class="cameraButton">
<p>Barcode</p>
<input type="file" name="capture" accept="image/*" capture="camera">
</div>
</form>
</div>
