<?php
if ($userName === null) {
?>
    <div class="registerArea">
    <form id="rgstForm" method="POST" action="">
    <input id="userName" name="userName" type="text" placeholder="Your Name" value="">
    <input id="rgstUserName" type="submit" value="Register">
    </form>
    </div>
<?php
} else {
?>
    <div class="bookList">
    <p><?php echo $userName; ?>の本棚</p>
    <ul>
    <li>ああああああああああ</li>
    <li>ああああああああああ</li>
    <li>ああああああああああ</li>
    <li>ああああああああああ</li>
    <li>ああああああああああ</li>
    </ul>
    </div>
<?php
}
?>
<style>
.bookList {
    background: #fff;
}
</style>
