<?php $this->setLayoutVar('title', 'ホーム'); ?>
<div id="statuses">
<?php
foreach ($statuses as $status) {
    echo $this->render('status/status', array('status' => $status));
}
?>
</div><!-- /#statuses -->
<ul>
<li class="itemWrapper">
<a href="javascript:void(0)">
<div class="contentsWrapper">
<div class="bookImage" style="background-image:url(http://ecx.images-amazon.com/images/I/41BFG7Qs5OL.jpg)">
</div>
<dl class="bookInfo">
<dt class="bookTitle">How to Design　いちばん面白いデザインの教科書</dt>
<dd class="author">カイシトモヤ</dd>
<dd class="publisher">エムディエヌコーポレーション（MdN）</dd>
<dd class="page">50 / 100</dd>
<dd class="graph">
<span class="bar" style="width: 50%;">50%</span>
</dd>
</dd>
</dl>
</div>
</a>
</li>
<li class="itemWrapper">
<a href="javascript:void(0)">
<div class="contentsWrapper">
<div class="bookImage" style="background-image:url(http://ecx.images-amazon.com/images/I/41nvddaG9BL.jpg)">
</div>
<dl class="bookInfo">
<dt class="bookTitle">ノンデザイナーズ・デザインブック</dt>
<dd class="author">Robbin Williams</dd>
<dd class="publisher">マイナビ</dd>
<dd class="page">30 / 100</dd>
<dd class="graph">
<span class="bar" style="width: 30%;">30%</span>
</dd>
</dd>
</dl>
</div>
</a>
</li>
</ul>
