<div class="status">
<div class="status_content">
<a href="<?php echo $base_url; ?>/user/<?php echo $this->escape($status['mailaddress']); ?>"><?php echo $this->escape($status['mailaddress'])?></a>
</div>
<div>
<?php echo $this->escape($status['created_at'])?>
</div>
</div>

